<article class="card-proyecto">
  <div class="card-acciones">
    @if (proyecto.cotizaciones && proyecto.cotizaciones.length > 0) {
      <button class="btn-pdf" (click)="verPDF($event)" title="Descargar PDF">
        📄 <small>V{{ proyecto.cotizaciones.length }}</small>
      </button>
    }
    <button class="btn-icon" (click)="editar.emit(proyecto)" title="Editar">✏️</button>
    <button class="btn-icon btn-cancelar" (click)="cancelar.emit(proyecto)" title="Cancelar">🚫</button>
  </div>

  <div class="card-tag">{{ proyecto.estado }}</div>
  <h4>{{ proyecto.nombre }}</h4>
  
  <div class="info-cliente">
    <p>👤 {{ cliente?.nombre }}</p>
    <p>📍 {{ proyecto.direccionVisita }}</p>
  </div>

  <div class="card-footer">
    <div class="footer-left">
      @if (proyecto.estado === 'Cita') {
        <div class="info-cita">
          <p>📅 {{ proyecto.fechaVisita | date:'dd/MM/yyyy' }}</p>
          <p>⏰ {{ proyecto.horaVisita }}</p>
        </div>
      }

      @if (proyecto.estado === 'Cotizacion') {
        <div class="info-cotizacion">
          <p><strong>Propuesta Creada:</strong></p>
          <p>{{ fechaDeLaCotizacion | date:'dd/MM/yyyy' }}</p>
        </div>
      }

      @if (proyecto.estado === 'En Progreso') {
        <div class="info-obra">
          <p>🏗️ {{ proyecto.fechaInicioObra | date:'dd/MM/yyyy' }}</p>
          <p>⏰ {{ proyecto.horaInicioObra }}</p>
        </div>
      }
    </div>

    <div class="footer-right">
      <span class="monto-visita">
        {{ montoMostrar | currency }}
      </span>
    </div>
  </div>


  @if (proyecto.estado === 'Cita') {
    <button class="btn-accion cotizar" (click)="onCotizar()">
      Generar Cotización
    </button>
  } @else if (proyecto.estado === 'Cotizacion') {
    <button class="btn-accion agendar" (click)="onAgendar()">
      Aprobar y Agendar Obra
    </button>
  }
</article>