<div class="modal-overlay">
  <div class="modal-contenedor">
    <form [formGroup]="proyectoForm" (ngSubmit)="enviarFormulario()">
      <div class="campo">
        <label>¿Para qué cliente es?</label>
        <select formControlName="clienteId">
          <option value="">Selecciona un cliente...</option>
          @for (c of clientesDisponibles; track c.id) {
            <option [value]="c.id">{{ c.nombre }}</option>
          }
        </select>
      </div>

      <div class="campo">
        <label>Dirección de la Visita</label>
        <select formControlName="direccionVisita">
          <option value="">Selecciona una ubicación...</option>
          @for (dir of direccionesSugeridas; track dir) {
            <option [value]="dir">{{ dir }}</option>
          }
          <option value="nueva">-- Otra dirección --</option>
        </select>
      </div>

      <div class="campo">
        <label>Nombre del Trabajo / Proyecto</label>
        <input type="text" formControlName="nombre" placeholder="Ej: Reparación baño Alex">
        </div>

        <div class="campo">
        <label>Fecha de la Visita</label>
        <input type="date" formControlName="fechaVisita">
        </div>

        <div class="campo">
        <label>Hora de la Visita</label>
        <input type="time" formControlName="horaVisita">
        </div>

        <div class="campo">
        <label>Costo de Evaluación ($)</label>
        <input type="number" formControlName="costoVisita">
      </div>
      <div class="modal-acciones">
        <button type="button" class="btn-cancelar" (click)="cancelar()">
          Cancelar
        </button>
        
        <button 
          type="submit" 
          class="btn-guardar" 
          [disabled]="proyectoForm.invalid">
          Agendar Evaluación
        </button>
      </div>
    </form>
  </div>
</div>