<header class="header-seccion">
  <h1>Tablero de Proyectos</h1>
  <button class="btn-nuevo" (click)="abrirModal()">+ Nueva Evaluación</button>
</header>
<div class="contenedor-proyectos">
  <div class="tablero-kanban">
    <section class="columna">
      <div class="columna-header">
        <span class="punto evaluacion"></span>
        <h3>Evaluaciones</h3>
        <span class="contador">{{proyectosEvaluacion.length}}</span>
      </div>
      
      <div class="lista-cards">
        @for (p of proyectosEvaluacion; track p.id) {
          @let cliente = getDatosCliente(p.clienteId);
          <article class="card-proyecto">

            <div class="card-acciones">
              <button class="btn-icon" (click)="editarProyecto(p)" title="Editar">✏️</button>
              <button class="btn-icon btn-cancelar" (click)="cancelarProyecto(p)" title="Cancelar">🚫</button>
            </div>

            <div class="card-tag">Cita</div>
            <h4>{{ p.nombre }}</h4>
            <div class="info-cliente">
              <p>👤 {{ cliente?.nombre }}</p>
              <p>📍 {{ p.direccionVisita }}</p>
            </div>
            <div class="card-footer">
              <span class="fecha">📅 {{ p.fechaVisita | date:'dd MMM' }}</span>
              <span class="monto">${{ p.costoVisita }}</span>
            </div>
            <button class="btn-accion" (click)="prepararCotizacion(p)">Cotizar</button>
          </article>
        }
      </div>
    </section>

    <section class="columna">
      <div class="columna-header">
        <span class="punto cotizacion"></span>
        <h3>Cotizaciones</h3>
      </div>
      <div class="lista-cards empty">
        <p>Esperando aprobación...</p>
      </div>
    </section>

    <section class="columna">
      <div class="columna-header">
        <span class="punto obra"></span>
        <h3>En Obra</h3>
      </div>
      <div class="lista-cards empty">
        <p>Próximamente...</p>
      </div>
    </section>
  </div>
</div>

@if (mostrarModal) {
  <div class="modal-overlay">
    <div class="modal-contenedor">
      <app-proyecto-form 
        [proyectoAEditar]="proyectoSeleccionado"
        (proyectoGuardado)="agregarProyectoALista($event)" 
        (cerrar)="cerrarModal()">
      </app-proyecto-form>
    </div>
  </div>
}

@if (mostrarModalCotizacion && proyectoParaCotizar) {
  <div class="modal-overlay">
    <div class="modal-contenedor">
      <app-cotizacion-form 
        [proyecto]="proyectoParaCotizar"
        (cerrar)="cerrarModalCotizacion()"
        (cotizacionGuardada)="actualizarProyectoConCotizacion($event)">
      </app-cotizacion-form>
    </div>
  </div>
}