<header class="header-seccion">
  <h1>Mis Clientes</h1>
  <button class="btn-nuevo" (click)="abrirModalNuevo()">+ Agregar cliente</button>
</header>
<div class="contenedor-clientes">
  <div class="grid-clientes">
    @for (cliente of misClientes; track cliente.id) {
      <article class="tarjeta-cliente">
        <button class="btn-editar" (click)="prepararEdicion(cliente)">✎</button>
        <button class="btn-eliminar" (click)="confirmarEliminar(cliente)">×</button>
        <div class="avatar-cliente">{{ cliente.nombre[0] }}</div>
        <div class="info-cliente">
          <h2>{{ cliente.nombre }}</h2>
          <p class="etiqueta">Contacto</p>
          <span class="dato">{{ cliente.contacto }}</span>
          
          <p class="etiqueta">Dirección</p>
          <span class="dato">{{ cliente.ubicaciones[0] }}</span>
          @if (cliente.ubicaciones.length > 1) {
            <p class="info-extra">
              + {{ cliente.ubicaciones.length - 1 }} dirección(es) más
            </p>
          }
        </div>

        <div class="acciones-tarjeta">
          <button class="btn-secundario">Ver direcciones</button>
          <button class="btn-primario" (click)="crearProyectoParaCliente(cliente.id)">Nuevo Proyecto</button>
        </div>
      </article>
    } @empty {
      <p>Aún no tienes clientes registrados.</p>
    }
  </div>
  @if (mostrarModal) {
    <app-cliente-form 
      [clienteAEditar]="clienteSeleccionado"
      (cerrar)="mostrarModal = false" 
      (clienteGuardado)="agregarALista($event)">
    </app-cliente-form>
  }
</div>